.leftNavBar{
    width: 100%;
}

.contentInit{
    display: block;
}

@media screen and (min-width: 480px){
    .leftNavBar{
        width: 270px;
    }
    .contentInit{
        display: table;
        *display: inline-block;
    }
}

.contentLeft{
    width: 100%;
    display: block;
}

.hide{
    display: none;
}

@media screen and (min-width: 480px){
    .contentLeft{
        width: 270px;
        display: table-cell;
        background-color: #ffffff;
        box-shadow: 5px 0 7px #f0f0f0;
    }

    .hide{
        width: 270px;
        display: table-cell;
        background-color: #ffffff;
        box-shadow: 5px 0 7px #f0f0f0;
    }
}

.contentRight{
    display:block;
    padding: 16px 16px 88px 16px;
}

@media screen and (min-width: 480px){
    .contentRight{
        width: 100%;
        display: table-cell;
        vertical-align: top;
        padding: 16px 16px 88px 16px;
    }
}
.contentRightInset{
    background-color: #ffffff;
    box-shadow: 0 3px 5px #f0f0f0;
    width: 100%;
}
.initDivPadding{
    padding: 16px;
}
.showMoreProList{
    text-align: center;
    height: 32px;
}
.branchCellBody{
    padding-bottom: 16px;
}
.branchCellBody .branchChip{
    float: left !important;
}
.branchChip{
    margin: 4px 8px !important;
}
.branchChip > svg{
    visibility: hidden !important;
}
.branchChip:hover > svg{
    visibility: visible !important;
}
.branchCell{
    min-height: 120px;
    margin: 8px 16px;
    border-bottom: 1px solid #f0f0f0;
}
.branchCellHead{
    height: 44px;
    padding: 8px 8px;
}
.push_left{
    float: left;
}
.push_right{
    float: right;
}
.grey_font{
    color: #999999;
}