
.loginDiv{
    width: 90%;
    margin: 16px 5%;
    box-shadow: 0 0 4px #f0f0f0;
    padding: 32px;
}
.loginForm{
    width: 100%;
    height: auto;
    display: inline-block;
}
.back_white{
    background-color: #ffffff;
}
.center{
    text-align: center;
}
.align_center{
    margin: 0 auto;
}
.login_btn_set{
    margin: 16px auto;
}